.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%); /* 50*/
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* 
--logo #000000 #2196F3 WS
--nav #212121 #2196F3
--nav email, tel #757575 #2196F3
--button #188CE8 #2196F3
--button text #FFFFFF
--h1 #FFFFFF
--h2, h3 #212121
--text #757575
--footer adress #FFFFFF 
--footer-email-tel rgba(255, 255, 255, 0.6);

--white #FFFFFF (footer adress, button text, h1) 
--blueactive #188CE8 (button )
--blue #2196F3 (logo, nav-line, nav-email-tel, button)
--black #000000 (logo)
--accentblack #212121(h2, h3, nav-line,) 
--greytext #757575 (nav-email-tel, text)
--grey text-foot rgba(255, 255, 255, 0.6) (footer-email-tel)
--dark grey 2F303A(hero, footer)
*/
:root {
	--white: #ffffff;
	--blueactive: #188ce8;
	--blue: #2196f3;
	--black: #000000;
	--accentblack: #212121;
	--greytext: #757575;
	--greytext-footer: rgba(255, 255, 255, 0.6);
	--darkgrey: #2f303a;
}
body {
	background-color: var(--white);
	color: var(--greytext);
}
.list {
	list-style: none;
}

/*HEADER*/
.logo {
	color: #000000;
	text-decoration: none;
}
.logo-web {
	color: var(--blue);
}
.nav-site {
	color: var(--accentblack);
}
.nav-link {
	text-decoration: none;
	color: var(--accentblack)
}
.nav-link:hover, .nav-link:focus {
	color: var(--blue);
}
.header-contact {
	color: var(--greytext);
	text-decoration: none;
}
.header-contact:hover, .header-contact:focus {
	color: var(--blue);
}
/* FOOTER */

